ul{
    width: 100%;
}
body{
    background: center;
    background-color: aqua;
}
div{
    padding-left: 0;
    margin-left: 0;
}
#head{
    background-color: aquamarine;
    height: 20%;
    margin-bottom: 1.3%;
}
img{
    margin-top: 0;
    padding-left: 2.3%;
    margin-bottom: 2.3%;
    width: 30%;
    float: left;
}
#head_pic{
    float: none;
    display: block;
    margin-top: 20px;
    margin-bottom: 20px;
}